.RYG {
    width: 30%;
    height: 28vh;
    margin: 20px 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0.5em 0.5em .5em rgba(0, 0, 0, 0.781);
  }
  
  .RYG-browser {
    height: 20px;
    background-color: royalblue;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
  }
  
  .RYG-circle-1 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color:crimson;
  }

  .RYG-circle-2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color:gold;
  }

  .RYG-circle-3 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color:chartreuse;
  }

  .RYG-img{
    width: 100%;
  }
  
  @media screen and (max-width: 480px) {
    .RYG {
      width: 40%;
      height: 20vh;
    }
  }