.p {
    width: 30%;
    height: 28vh;
    margin: 20px 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0.5em 0.5em .5em rgba(0, 0, 0, 0.781);
  }
  
  .p-browser {
    height: 20px;
    background-color: royalblue;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
  }
  
  .p-circle-1 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color:crimson;
  }

  .p-circle-2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color:gold;
  }

  .p-circle-3 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color:chartreuse;
  }

  .p-img{
    width: 100%;
  }
  
  /* .hero-helper,
  .work-day {
    width: 100%;
    transition: all 2s ease;
  } */
  
  /* .p:hover .p-img {
    transform: translateY(-100%);
  } */
  
  @media screen and (max-width: 480px) {
    .p {
      width: 40%;
      height: 20vh;
    }
  }